/*
  start with no default padding or margins
  set the width and height to fill the screen.
  set the flex basis to 100% so the size of the
  flex container is 100% along the horizontal axis.
  (since flex-direction is row by default if not defined).

  flex-basis sets the initial size (like min-width/height).
  It's final size will be based on: available space, and the
  flex-grow/shrink multiples (when more than one item exists).
*/
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-basis: 100%;
  width: 100%;
}

/* */
#root {
  position: relative;
}
